# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*.pyc
*$py.class
*.so
.Python
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
.DS_Store
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask session files
flask_session/

# VS Code
.vscode/

# Database
*.db
*.sqlite3